<div class="container container-fluid mx-auto p-2" >
    <video width="1080" height="720" controls>
        <source src="D:\\mytest\\app\\assets\\images\\video1.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
</div>

<div class="container mx-auto p-2">
    <h5 class="text-center text-white bg-dark"> HI, I’M CALLE, THE NEXT-GENERATION ASSISTANT</h5>
</div>
<div class="container mx-auto p-2">
    <div class="row">
        <div class="col">
            <h5 class="text-center"><u> Scale </u></h5>
            <p class="text-center">I help businesses save time. Let’s face it – being customer centric is time consuming. Finding a time to call requires endless back-and-forth messages. And reaching out to everyone is not possible. </p>
        </div>
        <div class="col">
            <h5 class="text-center"><u> Voice Communication </u></h5>
            <p class="text-center">Voice is the best way to communicate with others. It is personal and is not limited by the language barrier. Get more done with limited resources. Make your calls speak for you. Control your communication flow. </p>
        </div>
        <div class="col">
            <h5 class="text-center"><u> On-Device </u></h5>
            <p class="text-center">State-of-the-art engine based on Deep Neural Networks. All processing occurs locally; up to 100k words.  Results are provided in real-time. Cloud based tools for development support. </p>
        </div>
    </div>
</div>
<%= image_tag "download.png", class:"img-fluid" %> 
<div class="container mx-auto p-2">
    <h5 class="text-center text-white bg-dark"> ABOUT US </h5>
</div>

<div class="container mx-auto p-2">
        <div class="col">
            <h5 class="text-center"><u> MARKETING AND SURVEY CALLING </u></h5>
            <p class="text-center">CallE reimagines communication and helps you build reliable connection over voice. We provide marketing and survey calls consisting of on-device speech recoginition using state of the art engine based on deep neural networks.</p>
        </div>
</div>

<div class="container mx-auto p-2">
    <div class="row">
        <div class="col">
            <h5 class="text-center"><u> Private & Security </u></h5>
            <p class="text-center">Speech data stays on the device, all sound and acoustic model processing occurs locally and results are provided in real-time</p>
        </div>
        <div class="col">
            <h5 class="text-center"><u> Re-imagine Communication </u></h5>
            <p class="text-center">Voice is the best way to communicate with others. It is personal and is not limited by the language barrier. Get more done with limited resources. Make your calls speak for you. Control your communication flow. </p>
        </div>
    </div>
</div>
<%= image_tag "download.png", class:"img-fluid" %> 
<div class="container mx-auto p-2">
    <h5 class="text-center text-white bg-dark"> FOR BUSINESSES - GET AN INVITE TO A PRIVATE BETA </h5>
</div>
<div class="container mx-auto p-2">
    <h5 class="text-center text-gray"> Try a demo program - reach out to us at official@calle.co.in </h5>
</div>

<div class="container mx-auto p-2 input-group mb-3 p-6">
  <input type="text" class="form-control" placeholder="Enter your email" aria-label="Email" aria-describedby="basic-addon1">
  <button class="btn btn-primary" type="submit">FREE TRIAL</button>
</div>

